<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
	<head th:replace = "mainLayouts :: head"></head>	
	<header th:replace = "/user/user-layouts :: nav"></header>
	<body onLoad = "showActionNotification()">
		<div class="container">
		<div th:replace = "/user/todo/todoLayouts :: notification-board"></div>
		<div class="form-container mt-4 p-4" id="form-container">
			<form th:action="@{/todo/add-item}" method = "post" th:object = "${todoModel}">
			<input type="text" th:field="${todoModel.title}" class="form-control mt-3" placeholder="Item title" autofocus>
			<textarea  th:field="${todoModel.detail}" class="form-control mt-3" placeholder="detail description"></textarea>
			<input type="submit" value = "Add" class="btn btn-primary btn-sm mt-3" placeholder="Item title">
			</form>
		</div>			
		
		<script th:replace = "/user/todo/todoLayouts :: notificationScripts">
			
		</script>
	</div>
	</body>
</html>