<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
	<head th:replace = "mainLayouts :: head"></head>	
	<header th:replace = "/user/user-layouts :: nav"></header>
<body onLoad="showActionNotification(), displayItemCount()">
		<div class="container">
		<div th:replace = "/user/todo/todoLayouts :: notification-board"></div>
		<a th:href="@{todo/add-item-form}" class="btn btn-primary btn-sm mt-3">Add Item</a> 
		<button class="btn btn-sm btn-primary-white mt-3" onClick="addContributersForm()">Add contributers</button>
		<form th:action="@{/user/todo/delete-selected}" method="post">
		<button type="submit" class="btn btn-danger btn-sm mt-3 float-end" value="Delete Selected" id="delete-selected-btn" disabled>
			Delete Selected <span class="badge text-bg-info" id="number-of-items-badge">0</span>
		</button>
		
		<table th:replace = "/user/todo/todoLayouts :: displayItems"></table>
		</form>
		
		<!--<script th:replace = "/user/todo/todoLayouts :: ready-delete-button-script"></script>
		<script th:replace = "/user/todo/todoLayouts :: display-item-count-script"></script>-->
		
		<!--<script th:replace = "/user/todo/todoLayouts :: edit-item-script"></script>
		<script th:replace = "/user/todo/todoLayouts :: notificationScripts"></script>-->
			
	</div>
</body>
</html>