<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">

<div th:fragment="notification-board" id="item-action-notification"
	class="badge item-action-notification px-4 d-flex justify-content-center fixed-top" th:text="${param.item}"></div>


<!--todo display modal start-->
<div th:fragment="todo-list-modal-content" id="todo-list-modal-content" class="modal-inner-content">
	<span class="d-flex justify-content-	 mt-3">
		<!--<img class="dashboard-card-img-top mx-2" th:src="@{/images/to-do-list.png}" alt="to-do icon">-->
		<span class="dashboard-card-img-top mx-2 mt-1 fa-solid fa-list" alt="to-do icon"></span>
		<h5 class="card-title dashboard-card-title">Notes &amp; personal todo tasks</h5>
	</span>
	<hr/>

	<div th:replace="/user/todo/todoLayouts :: notification-board"></div>

	<div th:replace="/user/todo/todoLayouts :: add-new-collection-form"></div>



	<div th:object="${TodoCollections}" class="">
		<div class="todo-collection my-3 pt-1" th:each="collection : ${TodoCollections}"
			th:id="todo-collection-box-+''+${collection.todoCollectionId}">
			<div class="collection-date d-flex flex-wrap justify-content-between">
				<span class="info-tag-dark align-self-start">Created on: <span
						th:text="${collection.creationDate}"></span></span>
				<span class="todo-collection-name align-self-start ps-3 pe-3"><span
						th:text="${collection.collectionTitle}"></span></span>
				<span class="info-tag-dark align-self-start">Modified on: <span
						th:text="${collection.modificationDate}"></span></span>
			</div>


			<div th:replace="/user/todo/todoLayouts :: displayItems"></div>

			<div class="collection-bottom-btns">
				<span role="button" class="minimalist-btn minimalist-btn-lighter btn-sm"><span class="fa-solid fa-pen"></span> Edit
					Collection</span>
				<span role="button" class="minimalist-btn minimalist-btn-lighter btn-sm"><span
						class="fa-solid fa-calendar-xmark"></span> Delete Collection</span>
			</div>
		</div>
	</div>

</div>
<!--todo display modal end-->


<!--todo list card started-->
<div th:fragment="todo-list-dashboard-card"
	class="card user-dashboard-cards todo-list-card card user-dashboard-cards custom-scrollbar-style"
	style="width: 18rem;" onclick="displayViewingModal(0)" data-aos="zoom-in">
	<div class="card-header d-flex">
		<span class="dashboard-card-img-top mx-2 mt-1 fa-solid fa-list" alt="to-do icon"></span>
		<h5 class="card-title dashboard-card-title">Notes &amp; todo tasks</h5>
	</div>
	<div class="card-body p-1">

		<p class="card-text fw-lighter mb-0 item-count item-count-check" th:text="${itemCount}"></p>


		<div th:object="${TodoCollections}" class="dashboard-card-content-container-inner m-0 custom-scrollbar-style-3">
			<!--displaying collection on card-->
			<div class="dashboard-card-content-items dashboard-card-collection-items p-1 m-1 mb-3"
				th:each="collection : ${TodoCollections}">
				<div class="dashboard-card-content-items-inner">
					<div class="collection-date d-flex flex-wrap justify-content-between">
						<span class="todo-collection-name align-self-start ps-3 pe-3"><span
								th:text="${collection.collectionTitle}"></span></span>
						<span class="info-tag-dark align-self-start">Last modified: <span
								th:text="${collection.modificationDate}"></span></span>
					</div>

					<div th:each="item : ${collection.todoListItems}">
						<div class="list-items mb-1 p-1">
							<span th:text="${item.title}" class=""></span>
						</div>
					</div>
				</div>

				<div role="button" class="card-open-collection-btn"
					th:onclick="scrollToSpecificCollection('todo-collection-box-[[${collection.todoCollectionId}]]')">
					<span role="button">open collection</span>
				</div>
			</div>
		</div>

		<div class="todo-card-btns mt-2">
			<input type="button" class="minimalist-btn minimalist-btn-lighter minimalist-btn-lighter2 btn-sm add-todo-collection-btn"
				onClick="showAddTodoCollectionForm('card')" value="Add New Collection">
		</div>

	</div>
</div>


<!--display todo list items started-->
<div th:fragment="displayItems" class="item-display-table p-2">
	<div class="d-flex">
		<button class="minimalist-btn minimalist-btn-blk-bg btn-sm mt-3" onClick="addContributersForm()">Add
			contributers</button>
	</div>

	<div th:replace="/user/todo/todoLayouts :: add-todo-item-form"></div>
	<p class="card-text fw-lighter mb-0 item-count item-count-check" th:text="${itemCount}"></p>
	<form th:action="@{/user/todo/delete-selected}" method="post">
		<button type="submit" class="btn btn-danger btn-sm mt-3 float-end delete-selected-btn" value="Delete Selected"
			th:id="delete-selected-btn-+''+${collection.todoCollectionId}" disabled>
			Delete <span class="badge text-bg-warning number-of-items-badge"
				th:id="number-of-items-badge-+''+${collection.todoCollectionId}" disabled>0</span> Items
		</button>
		<br /><br />
		<div class="d-block todo-list-display-box custom-scrollbar-style-3">
			<div th:each="item : ${collection.todoListItems}">

				<div class="list-items">

					<span class="float-start delete-item-checkbox item-control-buttons item-control-right-border mt-2">
						<input type="checkbox" onClick="readyDeleteButton()" name="selectedForRemoval"
							th:value="${item.todoItemId}"
							class="form-check-input mark-todo-task-done red-checkbox green-checkbox"
							id="mark-todo-task-done" title="Mark as done">
					</span>

					<div class="d-flex justify-content-between p-2">

						<div style="display: inline;" th:id="${item.todoItemId}">
							<span th:text="${item.title}" id=""></span>

							<span class="badge me-2 edit-item-btn fa-solid fa-edit" title="Edit Item"
								th:onClick="editItem(this.id)" th:id="${item.todoItemId}"> </span>


						</div>

						<div class="item-deletion-controls d-flex" style="display: inline;">
							<a th:href="@{/todo/delete-item(itemId=${item.todoItemId})}"
								th:class="link-white-color+' '+float-end+' '+delete-single-item-link-+''+${collection.todoCollectionId}">
								<span
									th:class="badge+' '+text-bg-danger+' '+delete-single-item-btn+' '+delete-single-item-btn-+''+${collection.todoCollectionId}+' '+ fa-solid+' '+ fa-trash-can"
									title="Delete Item"> </span>
							</a>

							<span class="delete-item-checkbox item-control-buttons item-control-left-border">
								<input type="checkbox"
									th:onClick="readyDeleteButton([[${collection.todoCollectionId}]])"
									name="selectedForRemoval" th:value="${item.todoItemId}"
									th:class="form-check-input  +' '+checkbox-for-deletion-+''+${collection.todoCollectionId}+' '+ red-checkbox"
									id="checkbox-for-deletion" title="Select item">
							</span>


						</div>

					</div>
				</div>
			</div>
		</div>

	</form>

</div>

<div class="add-contributers-form" id="add-contributers-form" th:fragment="add-contributers-form">
	<form>

	</form>
</div>


<!--add new collection form-->
<div th:fragment="add-new-collection-form" class="form-container-subtle mt-2 overflow-hidden"
	id="add-new-collection-form">
	<div class="p-3">
		<h6>Add New Collection</h6>
		<div class="d-flex">
			<input type="text" class="form-control add-todo-collection-input mt-3 col-md-10"
				placeholder="What should we call your collection" id="collection-name-input" autofocus maxlength="40"
				style="width: 70%;">
			<button onClick="addNewCollection()"
				class="btn btn-primary-golden btn-sm add-todo-collection-btn mt-3 ms-2">Add Collection</button>
		</div>
	</div>
</div>


<!--add todo item form-->
<div th:fragment="add-todo-item-form" class="form-container-subtle mt-4 add-todo-item-form overflow-hidden d-flex"
	id="add-todo-item-form">
	<div class="p-2">

		<span class="subtle-form-input-container d-flex">
			<input type="text" class="subtle-form-input p-2" placeholder="What would you like to add?"
				th:id="col-+''+${collection.todoCollectionId}+''+-todo-title-input" autofocus>
			<span role="button" th:onClick="addTodo([[${collection.todoCollectionId}]])"
				class="subtle-form-btn d-inline p-2">
				<span class="fa-solid fa-circle-plus"></span>
				Add Item</span>
		</span>

	</div>
</div>



</html>