<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
	
		<div th:fragment = "notification-board" id="item-action-notification" class="badge item-action-notification px-4 d-flex justify-content-center fixed-top" th:text="${param.item}"></div>
		
		
		<table th:fragment = "displayItems" class="table item-display-table">
			<tbody th:object = "${items}">
				<tr th:each = "item : ${items}">
					<td>
						<div style="display: inline;" th:id="${item.todoItemId}">
						<span id="itemNumber" class="badge text-bg-warning itemNumber">0</span>
						<!--<span th:text = "${item.todoItemId}" class="badge text-bg-warning"></span>-->
						<span th:text = "${item.title}" id=""></span>
						
						<span class="badge mx-2 edit-item-btn" title="Edit Item" th:onClick="editItem(this.id)"  th:id="${item.todoItemId}"> </span>
												
						<br/>
						<span th:text = "${item.detail}" class="fw-lighter"></span>
						</div>
						
						<div class="item-deletion-controls" style="display: inline;">
						<span class="float-end delete-item-checkbox item-control-buttons" >						
						<input type="checkbox" onClick="readyDeleteButton()" name="selectedForRemoval" th:value="${item.todoItemId}" class="form-check-input checkbox-for-deletion red-checkbox" id="checkbox-for-deletion" title="Select item">	
						</span>
										
						<a th:href="@{/todo/delete-item(itemId=${item.todoItemId})}" class="link-white-color float-end delete-single-item-link">
						<span class="badge text-bg-danger delete-single-item-btn" title="Delete Item">&times;</span>
						</a>
						</div>							
								
					</td>
				</tr>
			</tbody>			
		</table>
		
		<div class="add-contributers-form" id="add-contributers-form" th:fragment="add-contributers-form">
			<form>
				
			</form>
		</div>	
		
		
		<div th:fragment = "add-todo-item-form" class="form-container mt-4 p-4 add-todo-item-form" id="add-todo-item-form form-container">
			<form th:action="@{/todo/add-item}" method = "post" th:object = "${todoModel}">
			<input type="text" th:field="${todoModel.title}" class="form-control mt-3" placeholder="Item title" autofocus>
			<textarea  th:field="${todoModel.detail}" class="form-control mt-3" placeholder="detail description"></textarea>
			<input type="submit" value = "Add" class="btn btn-primary btn-sm mt-3" placeholder="Item title">
			</form>
		</div>	
		
		
</html>
