<section class="profile-banner" th:fragment="profile-banner">

	<div class="profile-picture">
		<img src="/images/manage-stress.png" />
	</div>

</section>

<div class="profile-top-user-info mt-3" th:fragment="profile-top-user-info">
	<div class="d-flex justify-content-between flex-wrap">
		<span>

			<span class="d-flex ">
				<h3>{{authFirstName}} {{this.authLastName}}</h3>
				<span :class="`online-status-indicator ms-2 p-1 ${authOnlineStatus} align-self-center`"></span>
			</span>

			<span id="profile-header-username"><span>@{{authUsername}}</span></span>
		</span>
		<!--<span>Value Check: {{isOwnAccount}}</span>-->
		<span v-if="isOwnAccount == 'false'">
			<button class="align-self-start minimalist-btn minimalist-btn-theme-controlled"
				@click="connectWithUser(authUserId)">
				<span class="fa-solid fa-plus"></span><span> Connect</span>
			</button>
			<button class="align-self-start minimalist-btn minimalist-btn-theme-controlled">
				<span class="fa-solid fa-message"></span><span> Message</span>
			</button>
		</span>
	</div>

	<!--<span th:text="${UserDetailByUsername}"></span>-->
	<!--displays profile based on path variable(value from the url)-->


</div>

<div v-for="project in userProjectList" th:fragment="user-project-list" class="project-list-loop">
	<div class="user-project-list-items mb-1 p-2 m-3">
		<span class="d-flex justify-content-between">
			<span style="font-weight: 300;">Created: {{project.creationDate}}</span>
		<span class="">Created By: 
			<a :href="`/user/${project.projectOwnerUsername}`" class="no-text-decoration cadetblue cadetblue-hover">@{{project.projectOwnerUsername}}</a></span></span>
		
		<h5>{{project.title}}</h5>
		<span style="font-weight: 300;">{{project.description}}</span>
		
	</div>
</div>

<div v-for="connect in userConnectionsList" th:fragment="pending-user-connections-list" class="connections-list-loop">
	<a v-if="connect.connectionStatus == 'pending'" :href="`/user/${connect.connectedUserUsername}`"
		class="no-text-decoration">
		<div class="user-project-list-items mb-1 p-2 m-3">		
						
			<h6>
			<span :class="`profile-pic-btn prof-text-only prof-${connect.profilePicture}`" 
			v-if="connect.profilePicture.length == 1">{{connect.profilePicture}}</span>
			<span class="profile-pic-btn" v-if="connect.profilePicture.length != 1"><img :src="connect.profilePicture"  class=" fs-11"></span>
				
		
			
			 {{connect.connectedUserFirstName}} {{connect.connectedUserLastName}}</h6>
			
			<span style="font-weight: 300;" class="fs-10 ms-4">@{{connect.connectedUserUsername}}</span>
			<button class=" minimalist-btn minimalist-btn-theme-controlled float-end"
				@click="acceptConnectionRequest(connect.connectionId)" style="right:0;margin-left:auto"><span
					class="fa-solid fa-check"></span> Accept</button>
			<div></div><br />
		</div>
	</a>
</div>

<div v-for="connect in userConnectionsList" th:fragment="approved-user-connections-list" class="connections-list-loop">
	<a v-if="connect.connectionStatus == 'approved'" :href="`/user/${connect.connectedUserUsername}`"
		class="no-text-decoration">
		<div class="user-project-list-items mb-1 p-2 m-3">
			
			<h6>
			<!--<span class="profile-pic-btn fs-11" v-if="connect.profilePicture == null">@{{connect.connectedUserFirstName}}</span>--> 
			<!--<span class="profile-pic-btn fs-11" v-if="connect.profilePicture != null">{{connect.profilePicture}}</span> -->
			<span :class="`profile-pic-btn prof-text-only prof-${connect.profilePicture}`"  
			v-if="connect.profilePicture.length == 1">{{connect.profilePicture}}</span>
			<span class="profile-pic-btn" v-if="connect.profilePicture.length != 1"><img :src="connect.profilePicture"  class=" fs-11"></span>
			{{connect.connectedUserFirstName}} {{connect.connectedUserLastName}}</h6>
			<span style="font-weight: 300;" class="fs-10 ms-4">@{{connect.connectedUserUsername}}</span>
		</div>
	</a>
</div>