<main class="profile-content" th:fragment="profile-content">
	<div>
		<aside th:replace="/user/user-layouts :: side-menu"></aside>

		<section class="profile-content-inner d-flex gap-4 flex-wrap">

			<section class="profile-main-body  flex-fill" id="user-details">

				<div class="profile-header-section small-rounded-containers">
					<section th:replace="/user/profile/profile-layouts::profile-banner"></section>
					<div th:replace="/user/profile/profile-layouts::profile-top-user-info"></div>

				</div>


				<div class="small-rounded-containers p-2 mt-3 d-flex flex-wrap gap-3 justify-content-between">
					<div class="profile-public-projects flex-fill">
						<h5>Public projects({{userProjectCount}})</h5>
						<h5 v-if="userProjectCount == 0" class="p-5">user has no public projects</h5>
						<div class="public-data-list custom-scrollbar-style-2" v-if="userProjectCount != 0">
							<div th:replace="/user/profile/profile-layouts::user-project-list"></div>
						</div>
					</div>
					<div class="profile-connections flex-fill ">

						<h5>Connections({{userConnectsCount}})</h5>
						

						<h6 v-if="isOwnAccount == 'true'" class="text-center">Pending Connection Request</h6>

						<ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="approved-tab" data-bs-toggle="tab"
									data-bs-target="#approved" type="button" role="tab" aria-controls="approved"
									aria-selected="true">Connected</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="sent-tab" data-bs-toggle="tab"
									data-bs-target="#sentRequest" type="button" role="tab" aria-controls="sent"
									aria-selected="false">Sent Request</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="received-tab" data-bs-toggle="tab"
									data-bs-target="#receivedRequest" type="button" role="tab" aria-controls="received"
									aria-selected="false">Received Request</button>
							</li>
						</ul>
						
						
						
						<div class="public-data-list public-prof-list custom-scrollbar-style-2">
							<!--v-if="userConnectsCount != 0">-->

							<div th:replace="/user/profile/profile-layouts::pending-user-connections-list"></div>
							<hr />
							
							<!--<div th:replace="/user/profile/profile-layouts::approved-user-connections-list"></div>-->
						</div>

					</div>
				</div>


			</section>

			<aside class="profile-right-side-content flex-fill align-self-start">

				<div class="small-rounded-containers p-5">
					About me
				</div>

				<div class="small-rounded-containers p-5 mt-3">
					Socials
				</div>
				<div class="small-rounded-containers p-5 mt-3">
					Similar profiles
					suggested by the projects they work on
					and connection list
				</div>
			</aside>

			<section class="metrics-and-report pt-2 mt-2">
				<h5>...</h5>
				<main class="charts">
					<div class="projects-report d-flex justify-content-evenly flex-wrap">

					</div>
				</main>

			</section>

		</section>
	</div>


	<script>
		ownAccount = "[[${ownAccount}]]"; //get through thymeleaf
		if (!ownAccount) {
			UserDetailByUsername = "[[${UserDetailByUsername}]]";
			if (UserDetailByUsername == "User does not exist") {
				//alert(ownAccount);
			}
			else {
				profileUsernameValue = "[[${UserDetailByUsername}]]";
				ownAccount = "[[${ownAccount}]]";
				//alert(ownAccount);
			}
		}
		else {
			profileUsernameValue = "[[${UserDetailByUsername}]]";
			//alert(profileUsernameValue)
			ownAccount = "[[${ownAccount}]]";
			//alert(ownAccount);
		}
	</script>



	<!--<div class="profile-header mt-1">
		<div class="profile-picture-container">Profile Pic</div>


		displays logged in users's profile
		<span th:if="${!ownAccount}">
			<span th:if="${UserDetailByUsername == 'User does not exist'}" class="d-flex justify-content-center">
				<span>No user with that username exists</span>
				<script>
					profileUsernameValue = null; //set it to null
					ownAccount = "[[${ownAccount}]]";
					alert(ownAccount)
				</script>
			</span>

			<span th:unless="${UserDetailByUsername == 'User does not exist'}">
				<span th:text="${UserDetailByUsername.firstName}+' '+${UserDetailByUsername.lastName}"></span>
				<script>
					profileUsernameValue = "[[${UserDetailByUsername}]]";
					ownAccount = "[[${ownAccount}]]";
					alert(ownAccount)
				</script>
			</span>
		</span>

		<span th:if="${ownAccount}">
			<script>
				profileUsernameValue = "[[${UserDetailByUsername}]]";
				ownAccount = "[[${ownAccount}]]";
				alert(ownAccount)		
			</script>
			Your account

		</span>
	</div>-->
</main>