<main class="profile-content mt-5" th:fragment="profile-content">
	<section class="profile-header-area d-flex mt-5">
		<div class="profile-picture-container">Profile Pic</div>
		
		<!--displays logged in users's profile-->
		<span th:if="${!usernameOnPath}">
			<span th:text="${currentUserDetail.firstName}+' '+${currentUserDetail.LastName}"></span>
		</span>
		
		<!--displays profile based on path variable(value from the url)-->
		<span th:if="${usernameOnPath}">
			<span th:text="${UserDetailByUsername.firstName}+' '+${UserDetailByUsername.LastName}"></span>
		</span>
		
		
	</section>


	<section class="metrics-and-report pt-2 mt-2">

		<main class="charts">
			<div class="projects-report d-flex justify-content-evenly flex-wrap">
				
			</div>
		</main>

	</section>
</main>