<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" class="dark-mode">

<head th:replace="/user/user-layouts :: head"></head>



<body
	onLoad="showMainNotification(); displayItemCount();showDashboardActionNotification(); contentEmptyMessage(); getLoginInfo()">
	<div id="item-action-notification"
		class="badge item-action-notification px-4 d-flex justify-content-center fixed-top"
		th:text="${param.indicator}"></div>
	<header th:replace="/user/user-layouts :: nav"></header>
	<div class="containers d-flex">

		<main class="dashboard-content" th:replace="/user/dashboard-content-layout :: dashboard-content"></main>

		<!--
		<main class="dashboard-content" th:replace="/user/user-connections-layout :: connections-page"></main>
		<main class="dashboard-content" th:replace="/user/scrum-kanban-board-layout :: scrum-kanban-board-page"></main>
		<main class="dashboard-content" th:replace="/user/user-messages-layout :: messages-page"></main>
		<main class="dashboard-content" th:replace="/user/user-account-layout :: account-page"></main>
		-->


	</div>
	<footer th:replace="/user/user-layouts :: footer"></footer>

</body>

</html>