<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" class="dark-mode">

<head th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projectory - Project Management App</title>
	<!--<link rel="icon" th:href="@{/images/projectory-logo.png}" type="image/x-icon">-->
	<link rel="icon" th:href="@{/images/projectory-logo.png}" type="image/png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>

	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/todolist.css" rel="stylesheet">
	<link th:href="@{/css/user-dashboard-style.css}" rel="stylesheet">
	<link href="/css/notification-popup-bar.css" rel="stylesheet">

	<!--<script src="https://kit.fontawesome.com/6d882a57d9.js" crossorigin="anonymous"></script>-->
	<link href="/fontawesome6/css/fontawesome.css" rel="stylesheet">
	<link href="/fontawesome6/css/brands.css" rel="stylesheet">
	<link href="/fontawesome6/css/solid.css" rel="stylesheet">

	<script src="/javascript/todoListScript.js" defer></script>
	<script src="/javascript/dashboard-script.js" defer></script>
	<script src="/javascript/mainScript.js" defer></script>
	<script src="/javascript/project-script.js" defer></script>
	<script src="/javascript/login-info-fetch.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
	<script src="/javascript/theme-switch-script.js" defer></script>

	<script src="/javascript/vue-scripts/user-detail-vue.js" defer></script>
	<!--<script src="/javascript/vue.global.js.js"></script>-->
	<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
	<!--<script src="/javascript/vue-scripts/user-detail-vue.js" defer></script>-->
	<!-- ** Plugins Needed for animation and icon flare** -->
	<link rel="stylesheet" href="/plugins/themify/css/themify-icons.css">
	<link rel="stylesheet" href="/plugins/aos/aos.css">
</head>

<header th:fragment="nav" class="dashboard-nav fixed-top">

	<figure th:replace="/mainLayouts :: notification-bar"></figure>

	<nav class="user-dashboard-nav d-flex">
		<div class="top-projectory-logo">
			<a class="navbar-brand navbar-brand-dashboard" th:href="@{/}">
				<img th:src="@{/images/projectory-logo.png}" alt="[logo]" height="30px" width="23px">
				<span>projectory</span>
			</a>
		</div>



		<div class="navbar-links-container d-flex justify-content-end mx-3">

			<span class="search-bar me-1 d-flex" id="search-bar">

				<span class="btn-group btn-group-sm project-owner-indicator info-tag-dark 
					info-tag-dark-sm float-end fs-8 p-0 ">
					<input type="text" class="top-search-text-input d-inline" placeholder="Search keyword"
						id="search-text-input" @keyup="fetchSearchableData($event.target.value, $event)"
						data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
					<!--@keyup="fetchSearchableData($this.value, $event)"-->
					<!--v-on:keyup="fetchSearchableData(this.$data.name = $event.target.value")-->

					<ul class="dropdown-menu" style="z-index: 1002;">
						<li><span v-if="fetchedSearchableData.length == 0">no results found</span></li>

						<div v-if="searchLoading" class="dot-spinner align-center" style="top: 20px">
							<div class="dot-spinner__dot"></div>
							<div class="dot-spinner__dot"></div>
							<div class="dot-spinner__dot"></div>
							<div class="dot-spinner__dot"></div>
							<div class="dot-spinner__dot"></div>
							<div class="dot-spinner__dot"></div>
							<div class="dot-spinner__dot"></div>
							<div class="dot-spinner__dot"></div>
						</div>

						<li v-for="searchItems in fetchedSearchableData" class="border-bottom border-bottom-secondary">

							<!--displays recently searched items for account at first then data from db-->
							<template v-if="searchItems.searchResultType == 'user'">
								<a :href="`/user/${searchItems.searchItemDescription}`" class="dropdown-item d-flex justify-content-between  p-0 px-1
									d-flex justify-content-between no-text-decoration inherit-color inherit-color-hover">
									<span>
										<span class="fs-12 d-block pb-0" style="">{{searchItems.searchItemTitle}}</span>
										<span class="fs-11 pt-0" style="">@{{searchItems.searchItemDescription}}</span>
									</span>

									<span role="button" :value="searchItems.searchItemDescription" title="remove member"
										class=" align-self-center fa-solid fa-arrow-right btn btn-sm btn-secondary align-right">
										<!--@click="removeProjectMember(project.projectId, member.username, $event)">-->
									</span></a>
							</template>

						</li>
					</ul>
				</span>
				<!--Search button-->
				<span role="button" class="top-search-btn d-inline fa-solid fa-magnifying-glass"></span>
			</span>
			<script src="/javascript/vue-scripts/search-vue.js"></script>



			<div class="mt-0 pt-0 " th:object="${user}">
				<div class="top-menu-icons">
					<div class="top-menu-links d-flex">
						<a class="top-nav-links" onClick="showTopCollapsableMenu(1, this.id)" id="top-message-nav-link"
							aria-label="not-selected" title="Notification">
							<span class="nav-icon mt-0 pt-0 fa-solid fa-message text-center"></span></a>
						<a class="top-nav-links" onClick="showTopCollapsableMenu(0, this.id)"
							id="top-notification-nav-link" aria-label="not-selected" title="Messages">
							<span class="nav-icon mt-0 pt-0 fa-solid fa-bell text-center"></span></a>
						<a class="top-nav-links no-text-decoration profile-pic-btn-link"
							onClick="showTopCollapsableMenu(2, this.id)" id="top-user-nav-link"
							aria-label="not-selected" title="Account">
							<span class="nav-icon mt-0 pt-0 profile-pic-btn own-profile-pic text-center"
								th:text="${currentUserDetail.profilePicture}" id="profile-pic-btn"></span>
							<!--<img src="/images/projectory-logo.png" height="20px" width="20px">--></a>
					</div>

					<!--top-collapsable-menu content outer container-->
					<div class="top-collapsable-menu-container custom-scrollbar-style-3"
						id="top-collapsable-menu-container">
						<!--onmouseleave="collapseTopMenu()">-->
						<div class="top-menu-content" id="notification-menu-content">
							<span class="top-menu-header">Notification</span>
						</div>

						<div class="top-menu-content" id="message-menu-content">
							<span class="top-menu-header">Messages</span>
							<span role="button" class="top-menu-link d-block my-3">
								<span class="fa-solid fa-gear pe-2">
								</span><a href="">Go to messenger</a></span>
						</div>

						<div class="top-menu-content" id="setting-menu-content">
							<span class="top-menu-header   text-center">
								<span class="d-block mb-3">
									<!--<span class="fa-solid fa-id-card pe-2"></span>	-->
									<span class="non-hoverable-top-menu-text d-block mb-2">@<span
											th:text="${currentUserDetail.username}"></span></span>

									<span class="profile-pic-btn own-profile-pic collapsable-top-menu-prof-pic fs-22">
										<span class="nav-icon mt-0 pt-0 "
											th:text="${currentUserDetail.profilePicture}"></span>
										<span class="fa-solid fa-image change-profile-pic-btn fs-16"></span>
									</span>

									<br />
									<span class="fs-14">Hi, <span th:text="${currentUserDetail.firstName}"></span>
										<span th:text="${currentUserDetail.lastName}"></span></span>

									<a href="/user/profile"
										class="fs-10 minimalistic-btn d-block top-menu-link minimalist-btn">View
										Profile</a>
								</span>

							</span>

							<div><span></span></div>


							<span role="button" class="top-menu-link d-block my-3 text-center">
								<span class="fa-solid fa-user-pen pe-2">
								</span><a href="">Edit Profile</a></span>
							<hr />

							<span role="button" class="sign-out-btn top-menu-link text-center d-block"
								onClick="document.querySelector('#sign-out-confirmation-modal').showModal()">
								<span class="fa-solid fa-right-from-bracket pe-2"></span>Sign out</span>

							<dialog id="sign-out-confirmation-modal" th:fragment="confirmation-modal">
								<h2 class="confirmation-modal-header">Are you sure you want to signout?</h2>
								<!--<p class="confirmation-modal-body">Click No to cancel, Yes to sign out</p>-->
								<div class="confirmation-modal-btn-container">
									<form th:action="@{/logout}" method="post" class="d-inline">
										<button type="submit" class="confirmation-modal-btn confirm-signout-btn">
											<span class="fa-solid fa-right-from-bracket pe-2"></span>Sign
											out</span></button>
									</form>
									<button class="confirmation-modal-btn cancel-signout-btn"
										onClick="document.getElementById('sign-out-confirmation-modal').close()">Cancel</button>
								</div>
							</dialog>


						</div>
					</div>

				</div>
			</div>

		</div>
	</nav>

</header>


<aside th:fragment="side-menu" id="side-menu" class="p-0">

	<div class="navbar-dark bg-dark pt-5 side-nav">
		<div class="navbar-nav ms-0" th:object="${user}">

			<span role="button" class="fa-solid fa-bars mb-3" id="side-menu-toggle" onClick="sideMenuToggle()">
				<span class="fa-solid fa-caret-right" id="side-nav-arrow"></span>
			</span>
			<a class="nav-link side-nav-links dashboard-link" th:href="@{/user/dashboard}"
				id="side-menu-dashboard-link">
				<span class="nav-icon mt-1 fa-solid fa-table-columns"></span> <span
					class="side-nav-text mx-2">Dashboard</span></a>

			<a role="button" class="nav-link side-nav-links scrum-board-link" id="side-menu-board-link"
				th:href="@{/project/board}">
				<span class="nav-icon mt-1 fa-solid fa-chalkboard-user"></span>
				<span class="side-nav-text mx-2">Agile Board</span></a>
			<a role="button" class="nav-link side-nav-links todo-list-link" id="side-menu-connection-link">
				<span class="nav-icon mt-1 fa-solid fa-user-group"></span> <span
					class="side-nav-text mx-2">Connections</span></a>

			<!--<a class="nav-link" th:href="@{/user/dashboard}"  th:text="${user.firstName}  + ' '+ ${user.lastName}">-->
			<hr class="side-nav-hr-line" />
			<a role="button" class="nav-link side-nav-links account-link" id="side-menu-setting-link">
				<span class="nav-icon mt-1 fa-solid fa-sliders"></span>
				<span class="side-nav-text mx-2">Setting</span></a>

			<span class="logged-theme-switch theme-switch-container"><label
					th:replace="mainLayouts::theme-switch"></label></span>

		</div>

	</div>
</aside>

<footer th:fragment="footer" class="mt-5 pt-2 dashboard-footer m-0">



	<!--<button class="modal-trigger" data-modal-open>Modal Test</button>-->

	<dialog id="confirmation-modal" th:fragment="confirmation-modal">
		<h2 class="confirmation-modal-header">Are you sure?</h2>
		<p class="confirmation-modal-body">Click No to cancel, Yes to continue with the action</p>
		<div class="confirmation-modal-btn-container">
			<button class="confirmation-modal-btn">Yes</button>
			<button class="confirmation-modal-btn" data-close>No</button>
		</div>
	</dialog>

	<a href="#" class="go-to-top-btn"><span role="button" class="fa-solid fa-caret-up"></span></a>

	<span th:text="${param.proof}" id="login_indicator" style="margin-left: 20%"></span>
	<span th:text="${param.user}" id="current_user_id" style="margin-left: 20%"></span>

	<div class="d-flex justify-content-around mt-2">

		<div class="socials">
		</div>
	</div>
	<div th:replace="/mainLayouts::cookie-notice"></div>
	<div th:replace="/mainLayouts::copyright-info"></div>
	<script>
		var username = "[[${currentUserDetail.username}]]";
		window.localStorage.setItem("loggedInUser", username)
	</script>
	<!-- jQuery -->
	<script src="/plugins/jQuery/jquery.min.js"></script>
	<script src="/plugins/aos/aos.js"></script>
	<script src="/javascript/anim-script.js"></script>
</footer>

<div id="loader" class="loader-container" th:fragment="loader-animation">
	<div class="loader-circle" id="1"> </div>
	<div class="loader-circle" id="2"> </div>
	<div class="loader-circle" id="3"></div>
	<div class="loader-circle" id="3"></div>
</div>

</html>