.board-container{
	background-color: var(--board-border-color-primary);
	padding: 2rem;
	min-height: 70vh;
	width: 85vw;
	border: 5px outset var(--board-border-color-primary);
}
.board-container.full-screen{
	z-index: 1030;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	margin:0 !important;
}

.board-inside-container.full-screen{
	height: 95%;
}
.board-full-screen-btn{
	background-color: rgb(119, 118, 123);
	color: white;
	padding: 0.1rem 0.4rem;
}

.board-info{
	color: rgb(192, 191, 188) !important;
}

.board-inside-container{
	background-color: var(--board-background-color-primary);
	min-height: 70vh;
	padding: 1rem;
	border: 5px inset var(--board-border-inset-primary);
}
.task-stage{
	border-bottom: 1px solid rgb(94, 92, 100);
	padding-bottom: 1rem;
	border: 1px solid rgb(36, 31, 49);
	min-width: 10vw;
	transition: 0.1s ease-in-out;
	min-width: 32%;
	border-bottom: 3px solid var(--board-border-color-primary);
}

.drop-area-card-body{
	border: 1px solid rgb(119, 118, 123);
	min-height: 20%;
	height: fit-content;
	height: min-content;
	height: 83%;
	overflow-x: scroll;
	
	/*height: auto;*/
	transition: 0.2s ease-in-out;
	padding: 0.9rem;
}
.drop-area-card-body.highlighted{
	/*border: 1px solid yellow;*/
	background-color: rgba(0, 0, 0, 0.2);
	scale: 1.1;
	height: 80%;
}

.task-draggable-card{
	border: 2px dotted rgb(230, 97, 0);
	border: 2px dotted rgb(106, 106, 106);
	border-radius: 0.3rem;
	cursor: grab;
	max-width: 300px;
} 
.task-draggable-card:hover{
	scale: 1.01;
	box-shadow: 0 2px 12px 0 rgb(0 0 0/50%);
}

.task-draggable-card h6{
	background-color: rgb(154, 153, 150);	
	padding: 0.4rem;	
	}

.task-stage-todo{
	background-color: rgb(163, 157, 79);
}	
.task-draggable-card.not.started h6{	
	background-color: transparent;
}
.task-draggable-card.not.started{	
	border-left: 4px solid rgb(163, 157, 79);
	background-color: rgba(163, 157, 79, 0.2);
}

.task-stage-in-progress{
	background-color: rgb(38, 155, 101);
}
.task-draggable-card.in.progress-stage h6{	
	background-color: transparent;
}
.task-draggable-card.in.progress-stage{	
	border-left: 4px solid rgb(38, 155, 101);
	background-color: rgba(38, 155, 101, 0.2);
}

.task-stage-done{
	background-color: rgb(47, 85, 133);
}
.task-draggable-card.done h6{	
	background-color: transparent;
}

.task-draggable-card.done{		
	border-left: 4px solid rgb(47, 85, 133);
	background-color: rgba(47, 85, 133, 0.2);
}


.task-draggable-card.urgent h6{	
	background-color: rgb(246, 97, 81);
}

.task-draggable-card.urgent{	
	background-color: rgba(246, 97, 81, 0.2);
}


.task-card-body{
	cursor: grab;
}
.draggable-task-card-description{
	font-weight: 200;
	word-break: break-word;
}
.submit-task-btn{
	right:0;
	margin-left: auto;
}
.board-header{
	margin-left: 3rem;
	margin-left: 1.8rem;
}
.board-change-proj-btn{
	width: 200px;
	max-width: 200px;
}

@media (max-width: 650px) {
	.task-stage{
	min-width: 99% !important;
}

.board-header{
	margin-left: .25rem;
	margin-right: .25em;	
}
}

