@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@400;500;600;700&display=swap");


#confirmation-modal, 
#sign-out-confirmation-modal {
 /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  border-radius: 0.5rem;
  max-width: 600px;
  padding: 1.5rem;
  border: 0;
  background-color: var(--primary-card-bg);
  color: var(--primary-color);
  border: var(--primary-color);
}

#confirmation-modal .confirmation-modal-btn, 
#sign-out-confirmation-modal .confirmation-modal-btn{
  padding: 4px 17px;
  margin-top: 10px;
  font-size: 14pt;
  border-radius: 0.25rem;
}
#confirmation-modal .confirmation-modal-btn:first-child, 
#sign-out-confirmation-modal .confirm-signout-btn {
  /* Yes Button */
  border: 1px solid black;
  color: rgb(36, 31, 49);
  background-color: rgb(222, 221, 218);
  transition: 0.2s ease-in-out; 
}
#confirmation-modal .confirmation-modal-btn:first-child:hover,
#sign-out-confirmation-modal .confirm-signout-btn:hover {
  color: white;
  background-color: rgb(36, 31, 49);
}

#confirmation-modal .confirmation-modal-btn:last-child,
#sign-out-confirmation-modal .cancel-signout-btn{
  /* No Button */
  color: rgb(36, 31, 49);
  background-color: rgb(38, 162, 105);
  margin-left: 16px;
  transition: 0.2s ease-in-out; 
}
#confirmation-modal .confirmation-modal-btn:last-child:hover,
#sign-out-confirmation-modal .cancel-signout-btn:hover{
  color: white;
  background-color: rgb(51, 209, 122);
  box-shadow: 0 0 2px 1px rgb(51, 209, 122);
}



#confirmation-modal::backdrop,
#sign-out-confirmation-modal::backdrop {
  background: rgb(0 0 0 / 0.5);
}

#confirmation-modal h2,
#sign-out-confirmation-modal h2 {
  margin-bottom: 20px;
  font-size: 1.4em;
}
#confirmation-modal p,
#sign-out-confirmation-modal p {
  font-weight: 500;
  margin-bottom: 10px;
}

#confirmation-modal button,
#sign-out-confirmation-modal button {
  border: none;
  cursor: pointer;
}