.cadetblue{
	color: cadetblue;
}

.cadetblue-light{
	color: rgb(105, 215, 219);
}

.cadetblue-darker{
	color: rgb(19, 81, 83);
}

.project-status-label {
	color: rgb(255, 255, 255);
	padding: 0.15rem;
}

.project-status-label-card {
	font-size: 10pt;
	border-bottom-left-radius: 0.25rem;
}

.project-status-label.In.Progress {
	background-color: rgba(63, 185, 124, 0.3);
}

.project-status-label.On.Hold {
	background-color: rgba(245, 169, 0, 0.3);
}

.project-status-label.Not.started {
	background-color: rgba(242, 100, 0, 0.3);
}

.project-status-label.Completed {
	background-color: rgba(52, 135, 237, 0.3);
}
.todo-done{
	text-decoration: line-through;
}