.dashboard-nav {
	/*max-width: 200px;
	height: 100%;*/
}

.user-dashboard-nav {
	background-color: rgb(33, 37, 41);
	height: 35px;
}

.top-collapsable-menu-container {
	border: 1px solid rgb(61, 56, 70);
	border-top: 0;
	z-index: 1000;
	background-color: rgb(47, 50, 54);
}

#top-collapsable-menu-container {
	/*display: none;*/
	height: 0px;
	transition: 0.3s ease-in-out;
	position: fixed;
	right: 0;
	margin-right: 0.5rem;
	overflow: hidden;
	/*padding: 4px !important;*/
}

.top-menu-content {
	display: none;
}

.navbar-links-container {
	/*display: flex;*/
	color: rgba(255, 255, 255, 0.55);
	/*border: 1px solid red*/
	;
	width: 100%;
}

.navbar-nav {
	display: inline !important;
}

.nav-link {
	padding-left: .5rem !important;
}

.dashboard-link:hover,
.todo-list-link:hover,
.scrum-board-link:hover,
.account-link:hover {
	background-color: rgba(0, 0, 0, 0.4);

}

.top-nav-links {
	display: inline !important;
}

.navbar-brand-dashboard {
	color: rgb(191, 152, 56) !important;
}

#side-menu {
	width: 100px;
	/*position: fixed !important;
	display: block;*/
	padding-right: 5px;
	min-width: 10px;
	height: 100% !important;
	z-index: 100;
	font-size: 13pt;
}

#side-menu-toggle {
	font-size: 14pt;
	transition: all 0.3s ease-in-out;
	border: 1px solid grey;
	border-radius: 0.3rem;
	padding: 0.2rem;
	margin-left: 0.3rem;
	color: rgba(255, 255, 255, 0.55);
	letter-spacing: -0.1em;
	transition: 0.3s ease-in-out;

	/*-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	-ms-transition: -ms-transform 0.3s ease-out;*/

}

/*#side-menu-toggle:hover{
	color:  rgb(118, 187, 118);
	letter-spacing: 0em;
}*/
#side-menu-toggle:hover {
	color: rgb(118, 187, 118);
	letter-spacing: 0em !important;
	background-color: rgba(0, 0, 0, 0.5);
}

#side-menu-toggle:active {
	/*text-shadow: 0 0 10px rgb(118, 187, 118);*/
	background-color: rgb(61, 56, 70);
}

#side-nav-arrow {
	font-size: 9pt !important;
}

.fa-caret-right {
	/*display: none !important;*/
}

.fa-caret-left {}

#side-nav-left-arrow {
	display: none;
}

.side-nav {
	height: 100% !important;
	position: fixed;
	padding-right: 1px !important;
	transition: all 0.3s ease-in-out;
	width: 45px;
	white-space: nowrap;
	overflow: hidden;
}

.side-nav-text {
	transition: 0.1s ease-in-out;
	/*display: none;*/
	display: none;
	animation: fade-in 0.8s ease-in-out;
	/*color: rgb(182 182 182 / 55%);*/
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.user-dashboard-cards {
	cursor: pointer;
	border-bottom: 3px solid goldenrod;
	margin: 1.5em 1.5em 1.5em 0;
	transition: all 0.3s ease-in-out;
	height: 300px;
	overflow: auto;
}

.user-dashboard-cards:hover {
	background: rgba(205, 171, 143, 0.2);
	border-bottom: 3px solid rgb(118, 187, 118);
	box-shadow: 0px 0px 3px 3px rgb(192, 191, 188);
	/*box-shadow: inset 40em 0em gold;*/
}

.dashboard-card-img-top {
	height: 25px !important;
	width: 20px;
}

.dashboard-card-title {
	color: rgb(118, 187, 118);
}

.card-header {
	/*border-bottom: 1px solid rgb(192, 191, 188);*/
	margin: 0 !important;
}

/*.fa-solid:not(.nav-icon, #side-menu-toggle, #side-nav-arrow, fa-regular) {
	color: rgb(118, 187, 118);
}*/

.viewing-modal-header {
	color: rgb(186, 169, 138);
	font-size: 100%;
}

#viewing-modal {
	background: rgb(36, 31, 49);
	border-bottom: 3px solid goldenrod;
	width: 80%;
	margin-left: 10% !important;
	margin-left: 10% !important;
	position: fixed;
	z-index: 14;
	border-top-right-radius: 0.375rem;
	border-top-left-radius: 0.375rem;
	transition: all 0.5s ease-in-out;
	opacity: 0;
	visibility: hidden;
	/*overflow: hidden;
	height: 300px;*/
	height: 500px;
	overflow: auto;
	top: 10%;
	/*transform: translate(-50%, -50%);*/

}

.viewing-modal-exit-btn {
	color: goldenrod;
	font-size: 25pt;
	cursor: pointer;
	z-index: 2000;
	/*position: fixed;
	float: right;
	right: 13%;*/
}

.viewing-modal-exit-btn:hover {
	text-shadow: 0px 0px 4px goldenrod;
}

.viewing-modal-exit-btn:active {
	text-shadow: 0px 5px 10px goldenrod;
}


.viewing-modal-decor {
	background-color: rgb(99, 69, 44) !important;
	background-color: rgb(218, 165, 32, 0.8) !important;
	background-color: rgb(129, 61, 156) !important;
	/*	height: 200px;*/
	padding: 200px;
	rotate: -30deg;
	border-radius: 200px;
	filter: blur(20px);

	transition: 1s ease;
	opacity: 0.4;
}

.viewing-modal-decor-container {
	position: absolute;
}

#todo-list-modal-content,
#project-list-modal-content {
	display: none;
}

.overflow-hidden{
	overflow: hidden;
}

.project-modal-boxes-container {
	width: 100%;
}

#add-project-form {
	/*height: 0;*/
	transition: 0.2s ease-in-out;
	overflow: hidden;
}

#add-todo-item-form {
	transition: 0.2s ease-in-out;
}

.minimalist-btn {
	font-size: 12pt;
	border: 1px solid rgb(119, 118, 123);
	border-radius: 0.25rem;
	color: rgb(119, 118, 123);
	transition: 0.2s ease-in-out;
	padding: 0.3rem 0.4rem 0.3rem 0.3rem;
	margin-right: 0.3rem;
}

.minimalist-btn:hover {
	background-color: rgba(119, 118, 123, 0.6) !important;
	color: rgb(118, 187, 118) !important;
}

.minimalist-btn-left-rounded {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.minimalist-btn-right-rounded {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.add-project-task-btn-text {
	font-size: 12pt;
}

.add-project-task-form {
	/*display: none;*/
	/*height: 0px;*/
	transition: 0.3s ease-in-out;
	overflow: hidden;
}

.item-display-table {}

.project-modal-boxes {
	border: 1px solid rgb(119, 118, 123);
	border-radius: 0.3rem;
	cursor: pointer;
}

.project-modal-boxes:hover {
	background: rgba(46, 139, 87, 0.2);
}

.project-owner-indicator {
	top: 0;
	left: 0;
	/*color: goldenrod;*/
}

.info-tag-dark {
	background-color: rgba(154, 153, 150, 0.2) !important;
	background-color: rgba(255, 255, 255, .05) !important;
	color: rgb(158, 158, 158);
	color: rgb(145, 145, 145);
	padding: 0.2rem;
	border-radius: 0.2rem;
	font-size: 10pt;
}

.info-tag-light {
	/*container bg should be #f0f4f4*/
	background-color: rgba(0, 0, 0, .05) !important;
	color: #4a4a4a;
}

.modal-project-status {
	color: rgb(192, 97, 203);
}

#d1 {
	/*margin-left: 20%;*/
	background-color: rgb(53, 132, 228) !important;

}

#d2 {
	/*margin-left: 20%;*/
	background-color: rgb(38, 162, 105) !important;
	margin-left: -50px;
}

#viewing-modal {
	color: antiquewhite !important;
}

.item-display-table {
	color: white !important;
}


.dashboard-footer {
	z-index: 1000 !important;
	bottom: 0;
	/*position: sticky;*/
}


/*	applied to:	.user-dashboard-cards*/
.custom-scrollbar-style::-webkit-scrollbar {
	width: 12px;
	/* width of the entire scrollbar */
	cursor: pointer;
}

.custom-scrollbar-style::-webkit-scrollbar-track {
	background: rgb(222, 221, 218);
	/* color of the tracking area */
	/*background-color: rgba(222, 221, 218,0.6);*/
	background-color: rgb(94, 92, 100);
}

.custom-scrollbar-style::-webkit-scrollbar-thumb {
	background-color: rgb(118, 187, 118);
	/* color of the scroll thumb */
	border-radius: 20px;
	/* roundness of the scroll thumb */
	border: 3px solid rgb(118, 187, 118);
	/* creates padding around scroll thumb */
}


/*	applied to:	#viewing-modal*/
/* thiner line */
/* future proof method? */
/* Works on Firefox */
.custom-scrollbar-style-2 {
	scrollbar-width: thin;
	scrollbar-color: rgb(118, 187, 118) rgb(222, 221, 218);
}

/* Works on Chrome, Edge, and Safari */
.custom-scrollbar-style-2::-webkit-scrollbar {
	width: 12px;
}

.custom-scrollbar-style-2::-webkit-scrollbar-track {
	background: rgb(222, 221, 218);
}

.custom-scrollbar-style-2::-webkit-scrollbar-thumb {
	background-color: rgb(118, 187, 118);
	border-radius: 20px;
	border: 3px solid rgb(222, 221, 218);
}






@media (max-width: 900px) {

	/*  #viewing-modal {
    flex: 100%;
  }*/
	/*#viewing-modal {
		background: rgb(36, 31, 49);
		border-bottom: 3px solid goldenrod;
		width: 98%;
		margin-left: 40% !important;
		margin-left: 1% !important;
		height: 500px;
	}*/

	.viewing-modal-header {
		margin-left: 15% !important;
		margin-left: 15% !important;
	}
}