<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projectory - Project Management App</title>
	<link rel="icon" th:href="@{/images/projectory-logo.png}" type="image/x-icon">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/todolist.css" rel="stylesheet">
	<link href="/css/notification-popup-bar.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/6d882a57d9.js" crossorigin="anonymous"></script>
	<script src="/javascript/todoListScript.js" defer></script>
	<!--<script src="/javascript/dashboard-script.js" defer></script>-->
	<script src="/javascript/mainScript.js" defer></script>
	<script src="/javascript/theme-switch-script.js" defer></script>
	
	<script src="/javascript/vue.global.js.js"></script>
	
	
	
	  <!-- ** Plugins Needed for animation and icon flare** -->
  <link rel="stylesheet" href="/plugins/themify/css/themify-icons.css">
  <link rel="stylesheet" href="/plugins/aos/aos.css">
</head>

<label for="theme" class="theme" th:fragment="theme-switch" title="switch theme">
	<span class="theme__toggle-wrap">
		<input id="theme" class="theme__toggle" type="checkbox" role="switch" name="theme" value="dark"
			onclick="switchTheme()">
		<span class="theme__icon">
			<span class="theme__icon-part"></span>
			<span class="theme__icon-part"></span>
			<span class="theme__icon-part"></span>
			<span class="theme__icon-part"></span>
			<span class="theme__icon-part"></span>
			<span class="theme__icon-part"></span>
			<span class="theme__icon-part"></span>
			<span class="theme__icon-part"></span>
			<span class="theme__icon-part"></span>
		</span>
	</span>
</label>

<header th:fragment="nav">

	<figure class="notification hide none float-end" th:fragment="notification-bar">
		<div class="notification__body">
			<span class="notification__body__first pt-1">
				<span class="fa-solid fa-circle-check mt-1" id="notification-icon">
				</span>
				<p id="notification-bar-content" class="mb-0"></p>
			</span>
		</div>
	</figure>

	<nav class="home-navbar navbar navbar-expand-lg navbar p-1">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/projectory-logo.png}" alt="[logo]" height="30px" width="23px">
				<span>projectory</span>
				<span class="projectory-top-description d-block">Project Management Swiss Knife</span>
			</a>
			<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon fa-solid fa-bars" >
					<span class="menu-icon menu-icon-one"></span>

				</span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav home-nav-container" id="home-top-nav">
					<a class="nav-link home" aria-current="page" th:href="@{/}">Home</a>
					<a class="nav-link features" aria-current="page" th:href="@{/features}">Features</a>
					<a class="nav-link blog" href="/blog">Blog</a>
					<a class="nav-link about" href="/about">About</a>
				</div>
			</div>
		</div>
	</nav>
	<span class="guest-theme-switch theme-switch-container"><label
			th:replace="mainLayouts::theme-switch"></label></span>
			
			<button class="btn login-btn d-inline"
								onClick="displaySigninForm('login'); startElementRotation();">Login</button>

</header>

<footer th:fragment="footer" class="pt-2 mb-0">
	<a href="#" class="go-to-top-btn"><span role="button" class="fa-solid fa-caret-up"></span></a>
	<div class="d-flex justify-content-around mt-2">
		<div class="products">
			<ul>
				<li>
					<h6>FEATURES</h6>
				</li>
				<li><a href="">Project Management</a></li>
				<li><a href="">To-do task tool</a></li>
				<li><a href="">Kanban Board</a></li>
			</ul>
		</div>
		<div class="company">

			<ul>
				<li>
					<h6>DEV</h6>
				</li>
				<li><a href="/about">About</a></li>
				<li><a href="">Work With Us</a></li>
				<li><a href="">Contact Us</a></li>
			</ul>
		</div>
		<div class="legal">

			<ul>
				<li>
					<h6>LEGAL</h6>
				</li>
				<li><a href="">Privacy Policy</a></li>
				<li><a href="">Terms of Service</a></li>
				<li><a href="">Cookie Settings</a></li>
				<li class="footer__item">
				</li>
			</ul>
		</div>
	</div>
	<hr/>
	<div th:replace="/mainLayouts::copyright-info"></div>
	
<!-- jQuery -->
<script src="/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/plugins/aos/aos.js"></script>


<!-- Main Script -->
<script src="javascript/anim-script.js"></script>
<script src="/javascript/landing-pages-menu-script.js" defer></script>
</footer>


<div class="d-block text-center ms-5 copyright-info pb-4" th:fragment="copyright-info">
	<span>&copy;&nbsp;</span>
	<a class="footer-link-default" href="https://github.com/daniel-lib" target="_blank">
		<span>Daniel T. Al. <svg width="13.5" height="13.5" aria-hidden="true" viewBox="0 0 24 28"
				class="iconExternalLink_nPIU">
				<path fill="currentColor"
					d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z">
				</path>
			</svg></span></a>
</div>

<div class="cookie-notice2 p-2" id="cookie-notice" th:fragment = "cookie-notice">
	<span>
		<span class="fa-solid fa-cookie-bite"></span>
		<b>Notice.</b> Projectory uses cookies to provide necessary website functionality, improve your experience and analyze
		our traffic.
		By using our website/service, you agree to the collection and use of information in accordance with the best
		Privacy Policy out there.
		Meaning, we don't sell, rent or misuse your personal information.
		<span role="button" class="minimalist-btn-lighter btn-sm form-input-label-dark-bg cookie-accept-btn ms-2" id="cookie-accept-btn">I understand!</span>
	</span>
</div>

</html>