<div th:fragment="board-container" class="board-container p-2" id="board-container">

	<div class="board-top-controls mb-2 d-flex justify-content-between flex-wrap">
		<button @click="boardOnFullScreen()" id="board-full-screen-btn"
			class="board-full-screen-btn minimalist-btn minimalist-btn-blk-bg btn-sm align-self-start">Full
			Screen</button>
		
		<span><span class="board-info fa-regular fa-hand">
		</span><span class="board-info info-tag-dark">You can drag the tasks to your desired stage</span></span>

		<span class="">
			<span v-if="showLoader" style="z-index: 5000; position: absolute;">
				<div id="loader" class="loader-container" th:replace="/user/user-layouts :: loader-animation">
			</span>
			<select
				class="form-select form-select-sm mb-2 me-1  minimalist-btn minimalist-btn-blk-bg btn-sm board-change-proj-btn"
				@click="getProjectData(!!true)" title="Select Project">
				<option disabled selected>Select Project</option>
				<template v-for="project in projectList">
					<option @click="selectProject(project.projectId)" v-if="projectOnBoard.title == project.title" selected>
						{{project.title}}
					</option>
					<option @click="selectProject(project.projectId)" v-if="projectOnBoard.title != project.title" >
						{{project.title}}
					</option>
				</template>
			</select>

		</span>
	</div>

	<div class="board-inside-container custom-scrollbar-style" id="board-inside-container">
		<div th:replace="/user/board/board-layouts::task-stage-categories"></div>
	</div>

	
</div>

<div th:fragment="task-stage-categories" class="d-flex justify-content-between flex-wrap">
	<div class="task-stage p-2 mb-3 flex-fill">
		<h4 class="text-center task-stage-todo">Todo</h4>

		<div class="drop-area-card-body custom-scrollbar-style-3 not-started-section" 
		@drop="drop($event)" @dragover="allowDrop($event)"
			@dragleave="cancelDropAreaHighlight($event)" @dragenter="dropAreaHighlight($event)"
			id="drop-area-card-body-in-progress">

			<template v-for="task in projectTasksOnBoard">
				<div class="task-draggable-card not started mb-3" draggable="true" @dragstart="drag(`${task.taskId}`,$event)"
					:id="`draggable-card-${task.taskId}`" @dragleave="cancelDropAreaHighlight($event)"
					@dragenter="dropAreaHighlight($event)"
					v-if="projectOnBoard !== null && task.status==='not started'">
					
					<span v-if="task.assigneeUsername != null" class="fs-9 ms-2">
						task owner: <a :href="`/user/${task.assigneeUsername}`" class="no-text-decoration task-owner">
							{{task.assigneeUsername}}</a></span>
					<h6 class="task-card-title text-center">{{task.taskName}}</h6>
					<div class="task-card-body m-2">
						<span class="draggable-task-card-description text-center">{{task.taskDescription}}</span>
						<span class="d-flex flex-wrap">
							<select class="minimalist-btn minimalist-btn-grey mb-1" @click="getProjectMembers()">
								<option disabled selected><span class="fa-solid fa-plus"></span>Assign</option>
								<option v-for="member in projectMembers" 
								@click="assignTask(member.projectMemberUserId, task.taskId)">
									@{{member.username}}</option>
							</select>
							<!--<button class="minimalist-btn minimalist-btn-grey  submit-task-btn">Submit>></button>-->
						</span>
						
					</div>
				</div>
			</template>


		</div>
	</div>
	<div class="task-stage p-2 mb-3 flex-fill">
		<h4 class="text-center task-stage-in-progress">In progress</h4>
		<div class="drop-area-card-body custom-scrollbar-style-3 in-progress-section" 
		@drop="drop($event)" @dragover="allowDrop($event)"
			@dragleave="cancelDropAreaHighlight($event)" @dragenter="dropAreaHighlight($event)"
			id="drop-area-card-body-in-progress">

			<template v-for="task in projectTasksOnBoard">
				<div class="task-draggable-card in progress-stage mb-3" draggable="true" @dragstart="drag(`${task.taskId}`, $event)"
					:id="`draggable-card-${task.taskId}`" @dragleave="cancelDropAreaHighlight($event)"
					@dragenter="dropAreaHighlight($event)" 
					v-if="projectOnBoard !== null && task.status==='in progress'">
					<span v-if="task.assigneeUsername != null" class="fs-9 ms-2">
						task owner: <a :href="`/user/${task.assigneeUsername}`" class="no-text-decoration task-owner">
							{{task.assigneeUsername}}</a></span>
					<h6 class="task-card-title text-center">{{task.taskName}}</h6>
					<div class="task-card-body m-2">
						<span class="draggable-task-card-description text-center">{{task.taskDescription}}</span>
						<!--<br/>
						<button class="minimalist-btn minimalist-btn-grey d-block submit-task-btn">Submit>></button>-->
						<div> </div>
					</div>
				</div>
			</template>

		</div>
	</div>
	<div class="task-stage p-2 mb-3 flex-fill">
		<h4 class="text-center task-stage-done">Done</h4>
		<div class="drop-area-card-body custom-scrollbar-style-3 completed-section" 
		@drop="drop($event)" @dragover="allowDrop($event)"
			@dragleave="cancelDropAreaHighlight($event)" @dragenter="dropAreaHighlight($event)"
			id="drop-area-card-body-in-progress">

			<template v-for="task in projectTasksOnBoard">
				<div class="task-draggable-card done mb-3" draggable="true" @dragstart="drag(`${task.taskId}`, $event)"
					:id="`draggable-card-${task.taskId}`" @dragleave="cancelDropAreaHighlight($event)"
					@dragenter="dropAreaHighlight($event)"
					v-if="projectOnBoard !== null && task.status==='done'">
					<span v-if="task.assigneeUsername != null" class="fs-9 ms-2">
						task owner: <a :href="`/user/${task.assigneeUsername}`" class="no-text-decoration task-owner">
							{{task.assigneeUsername}}</a></span>
					<h6 class="task-card-title text-center">{{task.taskName}}</h6>
					<div class="task-card-body m-2">
						<span class="draggable-task-card-description text-center">{{task.taskDescription}}</span>
						<!--<button class="minimalist-btn minimalist-btn-grey d-block float-end">Done</button>-->
					</div>
				</div>
			</template>

		</div>
	</div>
</div>