<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">

<head th:replace="mainLayouts :: head"></head>

<header th:replace="mainLayouts :: nav"></header>

<body onLoad="showMainNotification()">
	<div class="containers">

		<div id="login-signup-form" class="">
			<div id="item-action-notification"
				class="badge item-action-notification px-4 d-flex justify-content-center login-error-notif"
				th:text="${param.indicator}"></div>
			<!--<div th:fragment = "notification-board" id="item-action-notification" class="badge item-action-notification px-4 d-flex justify-content-center" th:text="${param.indicator}"></div>-->
			<div class="login-signup-form">
				<span class="login-signup-form-exit-btn mx-3 float-end" onclick="closeSigninForm()">&times;</span>
				<br />
				<div id="sign-in-form">
					<span class="d-flex justify-content-center mt-3">
						<h3 class="login-signup-form-header">Welcome back</h3>
					</span>
					<hr />
					<form class="m-3" action="/login" method="post" th:object="${user}">
						<input type="text" placeholder="username" th:field="${user.username}" id="username-input"
							class="form-control mb-3">
						<input type="password" placeholder="password" th:field="${user.password}"
							class="form-control mb-3">
						<input type="submit" value="Sign in" class="btn btn-primary-golden mb-3">
						<span class="fw- register-here-text"> New to the platform? <a class="form-alternative-btn"
								onClick="displaySigninForm('signup')"> Create an account</a></span>
					</form>
				</div>

				<div id="sign-up-form">
					<span class="d-flex justify-content-center mt-3">
						<h3 class="login-signup-form-header">Stress-free life begines here</h3>
					</span>
					<hr />
					<form class="m-3" action="/register" method="post" th:object="${user}">
						<input type="text" placeholder="First Name" th:field="${user.firstName}"
							class="form-control mb-3" autofocus>
						<input type="text" placeholder="Last Name" th:field="${user.username}"
							class="form-control mb-3">
						<input type="text" placeholder="Username" th:field="${user.username}" class="form-control mb-3">
						<input type="password" placeholder="password" th:field="${user.password}"
							class="form-control mb-3">
						<input type="submit" value="Sign up" class="btn btn-primary-golden mb-3">
						<span class="fw- register-here-text"> Already have an account? <a class="form-alternative-btn"
								onClick="displaySigninForm('login')"> Login</a></span>
					</form>
				</div>


				<!--<span class="rotated-nav-decor d-flex justify-content"></span>
				<span class="rotated-nav-decor d-flex justify-content"></span>
				<span class="rotated-nav-decor float-end"></span>-->

			</div>

		</div>

		<div class="front-poster-container">
			<div class="front-poster-container-inner">
				<div class="front-poster-text d-flex justify-content-center px-3 pt-5">
					<p class="mt-5">Visualizing the trajectory of your projects has never been easier!</p><br /><br />
					<div class="get-started-btn-container d-flex justify-content-center">
						<button class="btn landing-page-btn get-started-btn d-inline"
							onClick="displaySigninForm('signup'); startElementRotation();">Get Started</button>
						<span class="px-2"></span>
						<button class="btn landing-page-btn login-btn d-inline"
							onClick="displaySigninForm('login'); startElementRotation();">Login</button>
					</div>
				</div>


				<img th:src="@{/images/mountainPosterBg.jpg}">
			</div>

		</div>


		<div class="d-flex justify-content-around flex-wrap mt-4">
			<div class="card projectory-fact-cards p-2 mb-3" style="width: 18rem;">
				<img class="card-img-top" th:src="@{/images/productivity.jpeg}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Plan Your Day</h5>
					<p class="card-text">Studies show scheduling and planning your day increases productivity by 100%.
						we spend more energy trying to remember what we need to do than actually accomplishing a task.
					</p>
					<a href="#" class="btn btn-primary btn-sm">Learn More</a>
				</div>
			</div>

			<div class="card projectory-fact-cards p-2 mb-3" style="width: 18rem;">
				<img class="card-img-top" th:src="@{/images/manage-stress.jpeg}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Manage Stress</h5>
					<p class="card-text">Stress has become prevalent in the current state of the world we live in. We
						need to protect our mental health
						with everything we got. Keeping your life organized can keep you sane. </p>
					<a href="#" class="btn btn-primary btn-sm">Learn More</a>
				</div>
			</div>
			<div class="card projectory-fact-cards p-2 mb-3" style="width: 18rem;">
				<img class="card-img-top" th:src="@{/images/save-time.jpeg}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Save time</h5>
					<p class="card-text">It is well know that time is the ultimate currency. We need to salvage as much
						of it as we can and put it
						in good use. Just like as foreth fathers used tools to save time when hunting, we need to do the
						same.
					</p>
					<a href="#" class="btn btn-primary btn-sm">Learn More</a>
				</div>
			</div>
		</div>



		<div class="div-top-decor-container d-flex">
			<script>

				let divDecorContainer = document.getElementsByClassName("div-top-decor-container");
				let decor = document.createElement("div");

				//decor.setAttribute("class", "div-top-decor");					
				//document.body.appendChild(decor);
				const parent = divDecorContainer.parentElement();

				parent.appendChild(decor);
				alert("here");

			</script>
		</div>


		<div class="d-flex justify-content-around mt-4 container-bg-blue p-3">			
					
			<p class="fs-1 green-bg-text-headline">Projectory can help you take the lead and be the <span
					class="colored-text-inline align-self-center">pro</span>
				in your <span class="colored-text-inline">pro</span>jects.</p>				
			<p class="green-bg-text-paragraph align-self-start"> <img src="images/pro-ject-manager.png" width="200px" height="200px"
					class="d-inline"></p>
		</div>




	</div>
	<footer th:replace="/mainLayouts :: footer"></footer>

	<!--<script th:replace="/user/user-layouts::notification-board-script"></script>-->

	<script>
		let formContainer = document.getElementById("login-signup-form");
		let signInForm = document.getElementById("sign-in-form");
		let signUpForm = document.getElementById("sign-up-form");
		function displaySigninForm(type) {
			formContainer.style.visibility = "visible";
			formContainer.style.opacity = "1";
			if (type == "login") {

				//document.querySelector("#login-signup-form").style.height = "600px";		
				//form.style.display = "block";
				//form.style.height = "auto";	

				//signUpForm.style.opacity = "0";
				signUpForm.style.display = "none";

				signInForm.style.display = "block";
				signInForm.style.opacity = "1";
				document.getElementById("username-input").setAttribute("autofocus");
			}
			else if (type == "signup") {
				//signInForm.style.opacity = "0";
				signInForm.style.display = "none";

				signUpForm.style.display = "block";
				signUpForm.style.opacity = "1";
			}


		}
		function closeSigninForm() {
			//var formControl = document.getElementById("login-signup-form");			
			formContainer.style.opacity = "0";
			formContainer.style.visibility = "collapse";
			//form.style.height = "0px";		
			//form.style.display = "none";
		}
	</script>

	<script>
		var loginStatus = "[[${loginStatus}]]";
	//alert(loginStatus.);
	</script>

</body>

</html>